# Fichiers générés par Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Fichiers logs et cache
*.log
*.csv
*.xlsx
*.db
.DS_Store

# Modèles et fichiers de Machine Learning
files/mvp_model.pkl
files/mvp_scaler.pkl

# Données scrappées
files/mvp_winners.xlsx
files/players_stats_playoff.xlsx
files/players_stats_regular.xlsx
files/processed_players_stats_playoff.xlsx
files/processed_players_stats_regular.xlsx
files/team_standings.xlsx

# Fichiers de logs
files/processing.log
files/scraper.log
files/team_scraper.log

# Environnement virtuel (si applicable)
venv/
.env
